.vs/

binary/**/settings.data
binary/**/imgui.ini
binary/**/backups/

binary/**/*.exe
binary/**/*.exp
binary/**/*.ilk
binary/**/*.iobj
binary/**/*.ipdb
binary/**/*.lib
binary/**/*.log
binary/**/*.pdb

build/win32/temp/

dev/releases/

*.gpak

*.sublime-workspace
